<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FlashBag issue</title>
    </head>
    <body>
    <a href="{{ path('exportPublicJSON', {'lang' : locale, 'nom' : nom}) }}"
       download>{{ "Exporter l'assistant en JSON"|trans }}</a>
    </body>
</html>
